html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    word-break: keep-all;
    user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
/* input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field { 
  -webkit-appearance: none; 
  display: none; 
} */
/* input[type="date"]:focus:-webkit-datetime-edit-text,
input[type="date"]:focus:-webkit-datetime-edit-month-field,
input[type="date"]:focus:-webkit-datetime-edit-day-field,
input[type="date"]:focus:-webkit-datetime-edit-year-field { 
  -webkit-appearance: block; 
  display: block; 
}  */

.MuiCardHeader-action {
  order: -1
}

#birth:focus ~ .MuiInputAdornment-root .datePlaceHolder {
  display: none
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
